name: Update AoC Stars

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install deps
        run: pip install requests

      - name: Run script
        env:
          AOC_SESSION: ${{ secrets.AOC_SESSION }}
        run: python scripts/update_aoc_multi.py

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add aoc_*.json
          git commit -m "Update AoC yearly stars" || echo "No changes"
          git push
